@import "@/assets/front/styles/variable.scss";
.singleImage {
  margin-bottom: 3rem;
  img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.featuresSection {
  padding: 2rem 0;
  background-color: $bg-white;
}

.featureCard {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  .imgWrap {
    overflow: hidden;
  }
  .featureImage {
    width: 100%;
    display: block;
    min-height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    .featureImage {
      transform: scale(1.05);
    }
  }
}

.featureBody {
  padding: 1.5rem;
  text-align: left;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  background-color: $primary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: $bg-white;
  font-size: 1.5rem;
}

.featureTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.featureDescription {
  font-size: 0.875rem;
}

.featureLink {
  color: $primary;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.note {
  margin-top: 2rem;
  padding: 1rem;
  background-color: $bg-3-light;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: $blue;
}
