@import "@/assets/front/styles/variable.scss";

.section {
  padding: 4rem 0;
  //   background-color: #f8f9fa; // Light background for modern contrast
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.gallery {
  display: block;
  text-decoration: none;
}
.viewIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $bg-white;
  z-index: 2;
  font-size: 5rem;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.4s;
}

.dimensionCard {
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #fff;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transition: all ease-in-out 0.4s;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    &::after {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.79) 66%,
        rgba(0, 0, 0, 0.79) 100%
      );
    }
    .viewIcon {
      opacity: 1;
      visibility: visible;
    }
  }
}

.image {
  height: 350px; // Adjust based on design needs
  object-fit: cover;
  transition: transform 0.3s ease;

  .dimensionCard:hover & {
    transform: scale(1.05); // Zoom effect on hover
  }
}

.cardBody {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
  color: $bg-white;
  margin: 0;
}
