@import "@/assets/front/styles/variable.scss";
.banner {
  padding: 6rem 2rem;
  position: relative;
  min-height: 300px;
  text-align: center;
  color: $bg-white;
  z-index: 1;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #301d00, #00052e, #014661, #634800);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    opacity: 0.95;
  }

  h1 {
    color: $bg-white;
    font-size: 4rem;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.content {
  z-index: 2;
}
.subtitle {
  color: $primary;
}
.badge {
  background-color: $primary;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 2rem 1rem;
    h1 {
      font-size: 2rem;
    }
  }
}
