@import "@/assets/front/styles/variable.scss";
.counterSection {
  background-color: #f3f3f3;
  padding: 2rem 0;
}

.counterItem {
  text-align: center;
  color: #000000;
  border-radius: 20px;
}

.number {
  color: $primary;
  font-size: 3rem;
  font-weight: bold;
  color: $dark-2;
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.25rem;
}
