@import "@/assets/front/styles/variable.scss";
.counterSection {
  background: linear-gradient(90deg, #f7502f, #e74120, #f7502f);
  padding: 2.5rem 0;
}

.counterItem {
  text-align: center;
  color: $white;
}

.number {
  color: $dark;
  font-size: 3rem;
  font-weight: bold;
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.25rem;
}

@media only screen and (max-width: 768px) {
  .number {
    font-size: 2rem;
  }
  .label {
    font-size: 0.965rem;
  }
}
