.hero {
  background: #141414;
  color: #fff;
  padding: 80px 0;
  text-align: center;

  p {
    color: #ccc;
    max-width: 680px;
    margin: auto;
  }
}

.section {
  padding: 80px 0;
  background: #f7f7f7;
}
