.container {
  min-height: 100vh;
  background-color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/bg-2.png');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.logo {
  font-size: 1.875rem;
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 2rem;
  z-index: 10;
  text-decoration: none;
}

.title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
  z-index: 10;
  text-align: center;
}

.description {
  color: white;
  font-size: 1.25rem;
  z-index: 10;
  text-align: center;
}

@media (min-width: 768px) {
  .logo {
    font-size: 3rem;
  }
  
  .title {
    font-size: 4.5rem;
  }
  
  .description {
    font-size: 1.5rem;
  }
}