@import "@/assets/front/styles/variable.scss";

.header {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 0;
  position: relative;
  width: 100%;
  z-index: 1000;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    background-color 0.35s ease;

  will-change: transform;
}

/* Sticky on scroll */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translateY(0);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.logo {
  width: 240px; // desktop size
  height: auto; // keep aspect ratio
}
.logoCol {
  a {
    display: block;
    width: 5rem;
    img {
      display: block;
      width: 100%;
    }
  }
}

/* Tablet */

/* Mobile */

.navArea {
  flex: 1 0 0%;
  padding: 0 15px;
  margin-left: 3rem;
}
.nav {
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      position: relative;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      a {
        color: $bg-white;
        font-size: 15px;
        font-weight: 600;
        display: block;
        text-align: center;
        white-space: nowrap;
        position: relative;
        padding: 8px 0;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          background: $primary;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.4s ease;
          height: 1px;
          width: 100%;
        }

        &:hover {
          &::after {
            transform: scale(1);
            transform-origin: left;
          }
        }
      }
    }
  }
}

.centerLogo {
  margin: 0 3rem;

  img {
    display: block;
    max-width: 100px;
    height: auto;
  }
}

.getQuoteBtn {
  background: $primary;
  color: $bg-white;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all ease-in-out 0.3s;
  display: block;
  &:hover {
    background: darken($primary, 20%);
    color: $bg-white;
  }
}

// .getQuoteBtnBdr {
//   background: transparent;
//   color: $primary;
//   padding: 0.7rem 2rem;
//   border-radius: 2rem;
//   font-weight: 600;
//   border: 2px solid $primary;
//   transition: all ease-in-out 0.3s;
//   display: block;
//   &:hover {
//     background: darken($primary, 20%);
//     color: $bg-white;
//   }
// }

.navToggler {
  position: fixed;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  top: 26px;
  display: none;
  border: none;
  background-color: transparent;
  width: 30px;
  span {
    display: block;
    height: 2px;
    width: 100%;
    background: $bg-white;
    margin: 4px 0;
    transition: all ease-in-out 0.4s;
    position: relative;
  }
}

.mobLogo {
  display: none !important;
}

.langCol {
  display: flex;
  align-items: center;
}

.langBtn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: transparent;
  span {
    margin-left: 10px;
  }

  img {
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .langCol {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    max-width: 100%;
    justify-content: flex-end;
    padding-right: 63px;
  }
  .mobLogo {
    display: block !important;
    width: 60px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .navToggler {
    display: block;
  }
  .centerLogo {
    display: none !important;
  }

  .navArea {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 280px;
    background: $primary;
    padding-top: 100px;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
    transition: right 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    margin-left: 0;
    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   backdrop-filter: blur(10px);
    //   z-index: -1;
    // }
  }

  .navOpen {
    right: 0;
  }

  .nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
  }

  .nav ul li {
    margin: 0 0 20px 0;
  }

  .nav ul li a {
    font-size: 16px;
  }
}

/* ================= TOGGLER ANIMATION ================= */

.navToggler.active span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 3px);
}

.navToggler.active span:nth-child(2) {
  opacity: 0;
}

.navToggler.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media only screen and (max-width: 1000px) {
  .getQuoteBtn {
    padding: 0.4rem 1rem;
    border: 1px solid transparent;
    font-size: 0.785rem;
  }

  .getQuoteBtnBdr {
    display: none;
  }

  .logoCol,
  .headerBtnCol {
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .navToggler {
    top: 23px;
  }
}
