@import "@/assets/front/styles/variable.scss";
.banner {
  background-color: $white;
  padding: 3rem 0;
}

.bannerContent {
  h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: $sccondary;
  }

  p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
}

.nationwide {
  position: relative;
  font-size: 26px;
  margin-bottom: 30px;
  //   padding-block-start: 1.5rem;
  padding-inline-start: 1rem;
  z-index: 1;
  &::after {
    content: "";
    width: 70px;
    height: 70px;
    background: #d8d1c7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.actions {
  display: flex;
  gap: 20px;
}

.callBtn {
  background: #b7aa99;
  color: #fff;
  padding: 14px 22px;
  text-decoration: none;
  font-weight: 600;
}

.quoteBtn {
  border: 2px solid #b7aa99;
  padding: 14px 22px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.features {
  margin-top: 3rem;
  ul {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.875rem;
      font-weight: 500;
      color: #555;
      border: $lightGray 1px solid;
      padding: 0.315rem 1rem;
      border-radius: 0.313rem;

      i {
        font-size: 1rem;
        color: $dark;
      }
    }
  }
}

.bannerImage {
  z-index: 1;
  position: relative;
  padding: 1.25rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 40px;
  border-radius: 1.25rem;

  .banImgmage {
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
    box-shadow: rgba(255, 255, 255, 0.7) 0 0 10px 5px;
  }
  &:after {
    content: "";
    z-index: -1;
    background-color: $sccondary-2;

    border-radius: 1.25rem;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(352deg);
  }
}

.stats {
  position: absolute;
  bottom: -2rem;
  left: -1rem;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    background: $dark-3;
    padding: 12px 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    strong {
      font-size: 18px;
    }

    span {
      font-size: 14px;
    }
  }
}
