@import "@/assets/front/styles/variable.scss";
.wrapper {
  width: 100%;
  background: $dark;
  padding: 4rem 0 6rem;
}

.container {
  max-width: 1000;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 10px;
  }
}

.callButton {
  background: $primary;
  border: none;
  padding: 0.875rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  // gap: 8px;
  color: $bg-white;
  transition: all ease-in-out 0.3s;
  &:hover {
    background: darken($primary, 20%);
  }
}

.quoteButton {
  background: $dark-2;
  border: none;
  padding: 0.875rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  transition: all ease-in-out 0.3s;
  &:hover {
    background: darken($black, 20%);
  }
}

.icon {
  margin-right: 8px; // For phone icon
  font-size: 1.3rem;
}

// Responsive adjustments
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 2rem 0;
  }
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .container {
    padding: 20px 15px;
    border-radius: 15px;
  }
}
