@import "@/assets/front/styles/variable.scss";
.titleHeader {
  max-width: 60.375rem;
  margin: 0 auto 3rem;
  position: relative;
  text-align: center;
}

.whyChoose {
  color: $primary;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  color: $lightGray;
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .titleHeader {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
}
