@import "@/assets/front/styles/variable.scss";
.applianceOptionsSection {
  padding: 4rem 0;
}
.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.badge {
  background: $primary;
  color: $bg-white;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.title {
  color: $primary;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: $gray;
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 3rem;
}

.sectionTitle {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.sectionSubtitle {
  color: $gray;
  margin-bottom: 1.5rem;
}

.col {
  display: flex;
  //   justify-content: center;
}

.applianceCard {
  text-align: center;
  width: 100%;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  background: #f9f9f9;
  border: #ededed 1px solid;
  .imgWrap {
    overflow: hidden;
  }
  img {
    transition: transform 0.3s ease;
  }
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    img {
      transform: scale(1.05);
    }
  }

  .card-img-top {
    border-radius: 0.5rem;
  }

  .card-title {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 0.5rem;
}

.icon {
  font-size: 4rem;
  color: $primary;
}

.ctaContainer {
  background-color: $dark;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  color: $bg-white;
  span {
    background: $primary;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
    line-height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}

.ctaTitle {
  color: $bg-white;
  font-size: 1.5rem;
  //   margin-bottom: 0.5rem;
}

.ctaSubtitle {
  color: $lightGray;
  margin: 0 auto 1.5rem;
  max-width: 800px;
  width: 100%;
}

.ctaButton {
  color: $bg-white;
  background: $primary;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  &:hover {
    background-color: darken($primary, 10%);
    color: $bg-white;
  }
}

@media only screen and (max-width: 768px) {
  .applianceOptionsSection {
    padding: 2rem 0;
  }
}
