@import "@/assets/front/styles/variable.scss";

.section {
  padding: 4rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: $lightGray;
  margin-bottom: 2rem;
}

.specCard {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
}

.cardHeader {
  font-size: 1.25rem;
  font-weight: bold;
  color: $bg-white;
  padding: 1rem 1.5rem;
  text-align: left;
  position: relative;

  &::before {
    content: "|";
    color: $primary;
    font-weight: bold;
    margin-right: 0.5rem;
  }
}

.specItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  background-color: transparent;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.icon {
  font-size: 1.25rem;
  color: $primary;
  margin-right: 1rem;
  flex-shrink: 0;
}

.label {
  flex: 1;
  text-align: left;
  color: $light-yellow-2;
  font-size: 0.875rem;
  font-weight: 700;
}

.value {
  color: $lightGray;
  font-weight: 600;
  text-align: right;
  font-size: 0.875rem;
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 2rem 0;
  }
  .specCard {
    padding: 0;
  }
}
