.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  //   background-color: #f8f9fa;
  //   border-radius: 12px;
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.accordion {
  border: none;
  button {
    border-radius: 2rem !important;
  }
}

.item {
  margin-bottom: 10px;
  border: none !important;
  border-radius: 2rem !important;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.header {
  background-color: #fff !important;
  padding: 15px 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: #444;

  &:focus {
    box-shadow: none !important;
  }

  .accordion-button {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}

.icon {
  color: #ff6b6b;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.body {
  padding: 15px 20px;
  background-color: #fff;
  color: #666;
  line-height: 1.6;
}

// Responsive adjustments
@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 1.5rem;
  }
}
