@import "@/assets/front/styles/variable.scss";

.bannerWrapper {
  background: linear-gradient(90deg, #060020, #000002, #060020);
  padding: 4rem 0;
  //   color: white;
  text-align: center;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  margin-bottom: 1rem;
  color: $bg-white;
}

.subtitle {
  margin-bottom: 2rem;
  max-width: 800px;
  color: $lightGray-2;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 1.25rem;
}

.button {
  background-color: $primary;
  color: $white;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.875rem 2rem;
  display: inline-flex;
  align-items: center;
  gap: 5px;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
