@import "@/assets/front/styles/variable.scss";
.testimonials {
  padding: 80px 0;
  background: $white;
}

.card {
  position: relative;
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 42px -14px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    transform: translateY(-5px) scale(1.05);
  }
}

.stars {
  color: $primary;
  margin-bottom: 15px;
}

.text {
  font-size: 15px;
  line-height: 1.6;
  color: #444;
  flex-grow: 1;
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 20px;

  strong {
    display: block;
    font-size: 15px;
  }

  span {
    font-size: 13px;
    color: #777;
  }
}
.quoteIcon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 30px;
  color: #ccc;
}
.ratingBox {
  margin-top: 60px;
  padding: 30px;
  border-radius: 16px;
  background: #effff4;
  border: 1px solid $bg-green-2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .ratingBoxInner {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 3rem;
      border-right: 1px solid $bg-green-2;
      padding-right: 3rem;
    }
  }

  strong {
    font-size: 20px;
    display: block;
  }

  p {
    font-size: 13px;
    margin: 0;
    color: #555;
  }
}

.starsGreen {
  color: $bg-green;
  margin-bottom: 5px;
}
