@import "@/assets/front/styles/variable.scss";

.section {
  padding: 4rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.featureItem {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: $primary;
    .icon {
      color: $bg-white;
    }
    .text {
      color: $bg-white;
    }
  }
}

.icon {
  font-size: 1.5rem;
  color: $primary;
  margin-right: 1rem;
  transition: all ease-in-out 0.4s;
}

.text {
  font-size: 1rem;
  color: $bg-white;
  font-weight: 500;
  text-align: left;
}
