@import "../styles/variable";
@import "../styles/mixin";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-style: none !important;
}

html,
body {
}

body {
  color: $dark-3;
  background: $white;
  font-size: 0.938rem;
  font-family: "Montserrat";
  font-weight: normal;
  line-height: 1.5;
}

a,
button {
  color: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

ul,
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2.913rem;
  margin: 0 0 0.938rem;
  position: relative;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  margin: 0 0 0.938rem;
  position: relative;
  font-weight: 700;
}
h4 {
}
h5 {
}
h6 {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.626em;
  }
  h6 {
    font-size: 0.765rem;
  }
}
