$primary: #f7502f;
$secondary: #ff9c88;
$secondary-2: #e7ddd1;
$secondary-3: #fddfd8;
$bg-green: #0b6613;
$bg-green-2: #27ecbe;
$white: #fff;
$dark: #1e1e1e;
$dark-2: #2c2c2c;
$dark-3: #4b4b4b;
$black: #000;
$lightGray: #d9d9d9;
$lightGray-2: #f2f2f7;
$lightGray-3: #97989f;
$gray: #696a75;
$gray-2: #757575;
$yellow: #e7e0b9;
$light-yellow: #f3ecc7;
$light-yellow-2: #fffee5;
$red: #990000;
$light-green: #c7c489;
$border: #8d8d8d;
$dark-blue: #181a2a;
$blue: #2381b8;
$bg-3-light: #e7f9ff;

$bg-lightGreen: #ebf2d2;
$bg-lightGreen-2: #f9ffe3;
$bg-third-color: #032215;
$bg-dark: #1b1b1d;
$bg-gray: #757575;
$bg-white: #fff;
$bg-1: #b7b7b7;
$bg-2: #f5f0d4;
$bg-3: #f9f9f9;
$bg-4: #666666;
$bg-5: #1c1c1c;
$bg-6: #fff;
$bg-7: #dfeccb;
$bg-8: #000;
$bg-9: #cac8c8;
$bg-10: #27272a;
$bg-11: #ebd246;
$bg-12: #cadfaa;
$bg-13: #c5c5c5;
$bg-14: #1b1b1d;
